body {
  // align-items: center;
  // text-align: center;
  // justify-content: center;
  box-sizing: border-box;
  padding-top: 10%;
}

#tabledata .header {
  text-align: center;
  background-color: #87a7b3;
  color: white
}

#tabledata .genap {
  background-color: #d8e3e7;
  color: grey;
}

#tabledata .ganjil {
  background-color: #eeeeee;
  color: #0e0e0e;
}

.body-table {
  text-align: center;
  align-items: center;
}

.wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#search .btnsearch {
  padding: 8.3px 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  margin-top: 0px;
}

#search .clear-text {
  position: absolute;
  right: 2%;
  top: 30%;
  color: grey;
  cursor: pointer;
}



.search {
  height: 100% !important;
  box-shadow: none !important;
  border-radius: 10px 0px 0px 10px;
  border-right: none;
  margin-top: 0px !important;

  &:focus {
    box-shadow: none !important;
    border-color: #87a7b3;
  }
}
